[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-cov = "*"
pytest-html = "*"

[packages]
django = "==2.2.28"
djangorestframework = "==3.10.*"

[requires]
python_version = "3.7"
